<h1>Consumo Api Crud Departamentos</h1>

@section scripts{ 
    <script>
        var urlapi = "https://apicruddepartamentoscorepgs.azurewebsites.net/";
        $(document).ready(function () {
            cargarDepartamentos();
            $("#botoneliminar").click(function () {
                var id = $("#cajanumero").val();
                var request = "api/departamentos/" + id;
                $.ajax({
                    url: urlapi + request,
                    type: "DELETE",
                    success: function () {
                        cargarDepartamentos();
                    }
                });
            });

            $("#botoninsertar").click(function () {
                var id = parseInt($("#cajanumero").val());
                var nombre = $("#cajanombre").val();
                var loc = $("#cajalocalidad").val();
                var departamento = new Object();
                departamento.idDepartamento = id;
                departamento.nombre = nombre;
                departamento.localidad = loc;
                var json = JSON.stringify(departamento);
                var request = "api/departamentos";
                $.ajax({
                    url: urlapi + request,
                    type: "POST",
                    data: json,
                    contentType: "application/json",
                    success: function () {
                        cargarDepartamentos();
                    }
                });
            });

            $("#botonmodificar").click(function () {
                var id = parseInt($("#cajanumero").val());
                var nombre = $("#cajanombre").val();
                var localidad = $("#cajalocalidad").val();
                var departamento = new Object();
                departamento.idDepartamento = id;
                departamento.nombre = nombre;
                departamento.localidad = localidad;
                var json = JSON.stringify(departamento);
                var request = "api/departamentos";
                $.ajax({
                    url: urlapi + request,
                    contentType: "application/json",
                    type: "PUT",
                    data: json, 
                    success: function () {
                        cargarDepartamentos();
                    }
                });
            });
        });

        function cargarDepartamentos() {
            var request = "api/departamentos";
            $.ajax({
                url: urlapi + request,
                type: "GET",
                success: function (data) {
                    var html = "";
                    $.each(data, function (ind, dept) {
                        html += "<tr>";
                        html += "<td>" + dept.idDepartamento + "</td>";
                        html += "<td>" + dept.nombre + "</td>";
                        html += "<td>" + dept.localidad + "</td>";
                        html += "</tr>";
                    });
                    $("#tabladepartamentos tbody").html(html);
                }
            });
        }
    </script>
}

<form method="post">
    <label>Id Departamento: </label>
    <input type="text" id="cajanumero" placeholder="Id departamento"
           class="form-control"/><br/>
    <label>Nombre: </label>
    <input type="text" id="cajanombre" placeholder="Nombre departamento"
           class="form-control"/><br/>
    <label>Localidad: </label>
    <input type="text" id="cajalocalidad" placeholder="Localidad"
           class="form-control"/><br/>
    <div>
        <button type="button" id="botoninsertar"
                class="btn btn-success">Insertar</button>
        <button type="button" id="botonmodificar"
                class="btn btn-info">Modificar</button>
        <button type="button" id="botoneliminar"
                class="btn btn-danger">Eliminar</button>
    </div>
</form>
<table class="table table-bordered table-warning" 
       id="tabladepartamentos">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Localidad</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table> 