<h1>Log In Empleados Api</h1>

<form method="post">
    <label>Apellido </label>
    <input type="text" name="username" placeholder="Apellido"
           class="form-control"/><br/>
    <label>Id empleado </label>
    <input type="text" name="password" placeholder="Id empleado"
           class="form-control"/><br/>
    <button type="submit" class="btn btn-info">
        Log In
    </button>
</form>
<h1 style="color:red">@ViewData["MENSAJE"]</h1>